PUBLIC_BIND_ADDR=0.0.0.0
PUBLIC_PORT=10804
APP_HOST_PATH=/share/shiny/sRNAmeta
HOST_R_ENV_PATH=/home/shiny/miniconda3/envs/sRNAmeta_web
JOB_ROOT_HOST_PATH=/public/liuqi/wwwdata/sncRNAbench/results
SHINY_UID=1005
SHINY_GID=1005
